* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
  }

  body{
    background-color: #13161a;
  }
  .wrapper {
    min-height: 100vh;
    background: #13161a;
    color: white;
  }
  .spinner-wrapper{
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FPS {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    font-weight: bold;
    color: white;
  }
  .FPS::before {
    content: "FPS: ";
    font-size: 0.8em;
    opacity: 0.5;
  }

  .app {
    position: relative;
    width: 650px;
    background: #1b1f24;
    border-radius: 10px;
  }
  .app .pointer {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate3d(-50%, -25px, 0);
    height: 50px;
    filter: drop-shadow(0 0 20px rgba(230, 174, 174, 0.3));
  }
  .app .scope {
    overflow: hidden;
  }
  .app .scope .list {
    position: relative;
    display: inline-flex;
    left: 0;
    transform: translate3d(0, 0, 0);
    list-style: none;
    transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99);
  }
  .app .scope .list__item {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    opacity: 0.5;
    transition: 0.3s ease;
  }
  .app .scope .list__item:nth-child(2n) {
    background: rgba(0, 0, 0, 0.1);
  }
  .app .scope .list__item.active {
    opacity: 1;
  }
  .app .scope .list__item.active img {
    transform: scale(1.05);
  }
  .app .scope .list__item img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    transition: 0.3s ease;
  }
  .app .start {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate3d(-50%, 20px, 0);
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #533281;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s ease;
    box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
    cursor: pointer;
  }
  .app .start:hover {
    opacity: 0.8;
  }

.question-block {
  margin-top: 20px;
  text-align: center;
}

.random-question {
  color: #fff;
  font-size: 18px;
}

@font-face {
    font-family: myFont;
    src: url(./Retrahaus.ttf);
}
.logo{
  width: 50%;
  font-family: myFont;
  color: #533281;
  font-size: 30pt;
  text-shadow: 0 0 30px rgba(124, 88, 173, 1);
  margin-left: 30px;
  padding-top: 10px;
  animation: blink 3s infinite alternate;
}

@keyframes blink {
  0% {
    text-shadow: 0 0 30px rgba(124, 88, 173, 0.2);
  }
  50% {
    text-shadow: 0 0 30px rgba(124, 88, 173, 1.5);
  }
  100% {
    text-shadow: 0 0 30px rgba(124, 88, 173, 0.2);
  }
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 31px;
  height: 16px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  background: #fff;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  font: 5px/14px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -11px;
  word-spacing: 19px;
  color: #fff;
  text-shadow: -0.5px -0.5px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 0.5px 1px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: rgba(124, 88, 173, 1);
}

.toggle:checked:before {
  left: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3cm;
  left: 3cm;
}
.toggle-item + .toggle-item{
  margin-top: 30px;
}
.toggle-item{
  display: flex;
}
.toggle-item .name{
  width: 2cm;
}